version: '3.5'

services:
  db:
    image: postgres:alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data

  app:
    build: .
    volumes:
      - .:/srv/mldb
    ports:
      - "3000:3000"
    depends_on:
      - db
    command: bundle exec rails s -p 3000 -b '0.0.0.0'

  guard:
    build: .
    volumes:
      - .:/srv/mldb
    command: bundle exec guard --no-bundler-warning --no-interactions

volumes:
  postgres-data:
    driver: local
