version: '3.5'

services:
  db:
    image: postgres:alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data
    tty: true

  app:
    build: .
    volumes:
      - .:/srv/mldb
    ports:
      - "3000:3000"
    depends_on:
      - db
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    tty: true

  guard:
    build: .
    volumes:
      - .:/srv/mldb
    depends_on:
      - chrome
    command: bundle exec guard --no-bundler-warning --no-interactions
    tty: true

  chrome:
    image: selenium/standalone-chrome

volumes:
  postgres-data:
    driver: local
