version: '3.5'

services:
  db:
    image: postgres:alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/srv/mldb
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  postgres-data:
    driver: local
