default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  port: 5432
  user: postgres
  password:
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: mldb_development

test:
  <<: *default
  database: mldb_test

production:
  <<: *default
  database: mldb_production
  username: mldb
  password: <%= ENV['MLDB_DATABASE_PASSWORD'] %>
